body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.sidebar {
    background-color: lightskyblue;
    grid-row: 1/3;
}
.container .header {
    background-color: aqua;
    grid-template-rows:repeat(2,1fr);
}
.header button {
    border-radius: 5px;
    background-color: lightskyblue;
}
.main-content {
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1.5fr;
}